<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katie.hrubiec_katheirne_getmethere">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".objects.AlarmReceiver" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACz6AjczEW5-jt3EW6lYsmjfO84U2W3jI" />

        <activity android:name=".activities.AddActivity" />
        <activity android:name=".activities.AlarmActivity" />
        <activity android:name=".activities.GoingOffActivity" />
        <activity android:name=".activities.DetailsActivity" />

        <receiver android:name=".objects.AlarmReceiver" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".helpers.MessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                //Specify your path, and a host for the filter. Here, I’m using a wildcard host//
                <data
                    android:host="*"
                    android:pathPrefix="/my_path"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>